body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0e0e0e;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-right img {
  width: 22px;
  transition: 0.3s;
}

.nav-right img:hover {
  transform: scale(1.2);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-left {
  max-width: 50%;
}

.hero-right img {
  max-width: 500px;
}

.footer {
  text-align: center;
  padding: 30px;
  color: #777;
}
